.cart-holder{
    border-top: 0.0288rem solid black;
    border-bottom: 0.0288rem solid black;

}
.cart-wrapper{
    width: 60%;
    position: fixed;
    top: 110px;
    right: 190px ;
    border-radius: 5px;
    background-color: white ;
    margin-top: 20px;
    z-index: 1;

}
.cart-holder h4{
    font-size: 20px;
    font-weight: 600;

}
.close-btn{
    transition: transform 0.2s linear;
}
.close-btn:hover{
    transform: rotate(90deg);
}

.purchase{
    width: 20rem !important;
    border-radius: 8px !important;
}

.top-hold{
    display: flex;
    justify-content: space-between;
}