.product-holds{
    display: block;
    width: 26%;
    align-items: center;
    justify-content: space-evenly;
}

.product-holds img{
    width: 20% !important;
} 

.cart-item{
    list-style-type: none;
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
}
.adding{
    width: 10% !important;
    height: 4vh;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-plus{
    cursor: pointer;
}

.remove-btn{
    width: 150px;
    margin-top: 20px;
}

.dic{
    display: block;
}
.price{
    font-size: 20px;
}

.subtotal{
    font-size: 20px;
}